.DS_Store
RDExtensionsSwift.podspec
RDExtensionsSwift/RDExtensionsSwift.xcodeproj/project.xcworkspace/xcuserdata/Rendel.xcuserdatad/UserInterfaceState.xcuserstate
RDExtensionsSwift/RDExtensionsSwift.xcodeproj/xcuserdata/Rendel.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
RDExtensionsSwift/RDExtensionsSwift.xcodeproj/xcuserdata/Rendel.xcuserdatad/xcschemes/RDExtensionsSwiftUnitTests.xcscheme
